@using ems_onscene.Models.EntityModels
@{ 
    ViewBag.Title = "Bag Check Forms";
}
@using (emsonsceneEntities db = new emsonsceneEntities())
{
    var bagchecks = db.EMSBagChecks.ToList();
    <h1 class="amatic">@ViewBag.Title</h1>
    foreach (var bagcheck in bagchecks)
    {
        <a href="/shift/bagcheckdetail/@bagcheck.Id" class="my_button">@bagcheck.BagCheckTitle</a>
    }
}





