@model ems_onscene.Models.EntityModels.Personnel

@{
	string _controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    ViewBag.Title = "Edit";
	Layout = null;
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { embededNavigation = true }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal crudformwrapper">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
		@Html.Partial("_form")
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				<input type="button" value="Close" class="btn btn-default" onclick="javascript: hideTabStrip@(_controllerName)@(Request["pageid"])();" />
				@*<a href="/@(_controllerName)/deleteconfirmed/@Model.id?pageid=@(Request["pageid"])" class="btn btn-danger" embededNavigation="True">Delete</a>*@
            </div>
        </div>
    </div>
}

@if(Request["reload"]!=null)
{
    <script>
        reload@(_controllerName)grid@(Request["pageid"])();
    </script>
}
