@model ems_onscene.Models.EntityModels.EMSBagCheck

@{
    ViewBag.Title = "Details";
}
<div>
    <p class="float-end">
        @Html.ActionLink("Change Title", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </p>
    <h2>@Html.DisplayFor(model => model.BagCheckTitle)</h2>
</div>
<hr class="clearfix" />
@Html.Partial("/views/bagcheckdetails/index.cshtml", Model.EMSBagCheckDetails, new ViewDataDictionary() { new KeyValuePair<string, object>("id", Model.Id) } )
