@using ems_onscene.Models.EntityModels
@model List<EMSContent>
@{
    ViewBag.Title = "Information Look Up";
    int p = (int)ViewBag.currentPage;
    int recordCount = (int)ViewBag.recordCount;
    int pageCount = (int)ViewBag.pageCount;
}

<h1 class="amatic">@ViewBag.Title</h1>
<br />

<div class="text-right">
    <div class="inlineblock">
        <form action="?" method="get">
            <input type="text" name="s" class="form-control-sm" style="width:60%;" />
            <button class="btn btn-primary">Search</button>

        </form>
    </div>
</div>

<div class="text-right">Total records: @(recordCount), Page @p/@pageCount</div>

<div>
    @foreach (var information in Model)
    {
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <div class="title" style="font-size: 24px; color: black; margin-bottom: 10px;">
                    @information.title
                </div>
                <div class="content" style="color:#808080">

                    @Html.Raw(information.content)

                </div>
            </div>
        </div>

        <hr size="1" style="border-style:double;border-color:black;" />
    }

</div>
<div class="text-center">
    @if (p > 1)
    {
        <a href="?p=@(p-1)">[Previous]</a>
    }
    else
    {
        <span>[Previous]</span>
    }
    @if (pageCount > p)
    {
        <a href="?p=@(p+1)">[Next]</a>
    }
    else
    {
        <span>[Next]</span>
    }
</div>
