@{
    ViewBag.Title = "Not Approved Account";
}

<main>
    <hgroup>
        <h1 class="text-danger">Not Approved.</h1>
        <h2 class="text-danger">This account has not been approved by admin, please contact admin.</h2>
    </hgroup>
</main>
