/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

/* Common styles for all buttons */
.my_button {
    padding: 100px 50px;
    text-decoration: none;
    width: 330px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6a82bc;
    color: #fff;
}

.med10button {
    background-color: #a5b4d6;
}
.med12button {
    background-color: #879bc9;
}
.med13button {
    background-color: #6a82bc;
}

/* Hover effect for all buttons */
    .my_button:hover {
        background-color: #a2b1d5;
        color: #fff;
    }
