@model IEnumerable<ems_onscene.Models.EntityModels.EMSBagCheckDetail>

@{
    ViewBag.Title = "Index";
}
<p class="text-right">
    @Html.ActionLink("Add New Check List", "Create", "bagcheckdetails", new { id = ViewData["id"]}, new { @class = "btn btn-sm btn-primary" })
</p>
<hr class="clearfix" />
@foreach (var item in Model) {
    <div class="">
        <div class="float-end">
            @Html.ActionLink("Edit", "Edit", "bagcheckdetails", new { id = item.Id }, new {@class="btn btn-sm btn-default"})
            @Html.ActionLink("Delete", "Delete", "bagcheckdetails", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
        </div>
        <div class="bagcheck-detail" style="margin-top:20px;margin-bottom:20px;">
            @Html.Raw(item.Detail)
        </div>
    </div>
    <hr class="clearfix" />
}
