<!-- ko with: home -->
<main>
    @*<section class="row" aria-labelledby="aspnetTitle">
            <h1 id="aspnetTitle">ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>
        <div class="row">
            <section class="col-md-4" aria-labelledby="spaSectionTitle">
                <h2 id="spaSectionTitle">Your information</h2>
                <p>This section shows how you can call ASP.NET Web API to get the user details.</p>
                <p data-bind="text: myMemberName"></p>

                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
            </section>

            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
                    It's now easier than ever before to getting started writing highly interactive web applications.
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
            </section>

            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </section>
        </div>*@
    <h3 style="text-align: center; font-size:45px; margin-top:100px; color: #0096C4;" class="amatic"><b>Welcome to the EMS on Scene App</b></h3>
    <img src="\images\ACEMS-logo-2023-primary-blue.png" style="display:block; max-width:340px;margin-left:auto; margin-right:auto; margin-top:50px; margin-bottom: 70px; align-content:center;">
    <br />
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p></p>
        </div>
        <div class="footer-section f-section-2">
            <p style="position:fixed;right:7px;bottom:30px;font-size:11px;">Ems on Scene, the ultimate ems app.</p>
            <p style="position: fixed; left: 100px; right: 8px; bottom: 10px; text-align-last: right; font-size: 11px;"> 2023 - Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
</main>

<!-- /ko -->
