@using Microsoft.AspNet.Identity
@using ems_onscene.Models.EntityModels
@using (emsonsceneEntities db = new emsonsceneEntities())
{
    var organizationInfo = db.EMSOrganizations.FirstOrDefault();
    string organizationName = organizationInfo == null ? "EMS on Scene" : organizationInfo.OrganizationName;
    string homepageImageUrl = organizationInfo == null || organizationInfo.HomepageImageUrl == null ? "/images/ems_sample_logo.png" : organizationInfo.HomepageImageUrl;
    <main>
        <h3 style="text-align: center; font-size:45px; margin-top:100px; color: #0096C4;" class="amatic"><b>Welcome to the @organizationName App</b></h3>
        <img src="@homepageImageUrl" style="display:block; max-width:340px;margin-left:auto; margin-right:auto; margin-top:50px; margin-bottom: 70px; align-content:center;">
        <br />
        <div class="footer-wrapper">
            <div class="footer-section f-section-1">
                <p></p>
            </div>
            <div class="footer-section f-section-2">
                <p style="position:fixed;right:7px;bottom:30px;font-size:11px;">@organizationName, the ultimate ems app.</p>
                <p style="position: fixed; left: 100px; right: 8px; bottom: 10px; text-align-last: right; font-size: 11px;"> 2023 - Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
            </div>
        </div>
    </main>
}
<!-- ko with: home -->
<!-- /ko -->
